<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControllerLoginServlet</servlet-name>
        <servlet-class>Bean_And_ServletCode.ControllerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerRegServlet</servlet-name>
        <servlet-class>Bean_And_ServletCode.ControllerRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Bean_And_ServletCode.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComposeServlet</servlet-name>
        <servlet-class>Bean_And_ServletCode.ComposeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComposeServlet1</servlet-name>
        <servlet-class>Bean_And_ServletCode.ComposeServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InboxServlet</servlet-name>
        <servlet-class>Bean_And_ServletCode.InboxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerLoginServlet</servlet-name>
        <url-pattern>/ControllerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerRegServlet</servlet-name>
        <url-pattern>/ControllerRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComposeServlet</servlet-name>
        <url-pattern>/ComposeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComposeServlet1</servlet-name>
        <url-pattern>/ComposeServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InboxServlet</servlet-name>
        <url-pattern>/InboxServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
